extends layout

block content
  h1= title
  - let birdid = toShow._id
  - let bird_name = toShow.birdName
  - let birdprice = toShow.birdPrice
  - let birdcolor = toShow.birdColor

  div.row(style='margin-bottom: 20px;')
    div.mr-1(style='margin-right: 5px;') ID is
    div #{birdid}

  - let actionid = "/resource/birds/" + birdid
  form(id='birdForm', action= actionid, method="PUT", style='margin-top: 20px;')
    div.form-group(style='margin-bottom: 10px;')
      label.birdAttr(for='birdName', style='font-weight: bold;') birdname
      input#birdName(type='text', name='birdname', value= bird_name, style='width: 100%; padding: 5px;' )
    div.form-group(style='margin-bottom: 10px;')
      label.birdAttr(for='birdPrice', style='font-weight: bold;') birdprice
      input#birdprice(type='number', name='birdprice', value= birdprice, style='width: 100%; padding: 5px;')
    div.form-group(style='margin-bottom: 10px;')
      label.birdAttr(for='birdcolor', style='font-weight: bold;') birdcolor
      input#birdcolor(type='text', name='birdcolor', value= birdcolor, style='width: 100%; padding: 5px;')
    input(type="submit", style='padding: 8px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 4px; cursor: pointer;')
